* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */

.primary-color {
  color: rgb(13, 19, 33);
}
.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}

.section-desc {
  font-size: 20px;
  opacity: 0.7;
}
/* nav section */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
}
.nav-title {
  font-size: 28px;
  font-weight: 800;
}
.nav-btn {
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  border: none;
  border: 1px solid gray;
  opacity: 0.9;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
}

/* banner section */
.banner {
  background-image: url("../assets/Hero-bg.png");
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  text-align: center;
}
.banner-title {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner-content button {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: rgb(13, 19, 33);
  color: white;
  border: none;
  font: 18px;
  font-weight: 600;
  border-radius: 8px;
}

/* devolopment section */
.development {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  background: rgba(13, 19, 33, 0.02);
  padding: 100px;
}
.development-container {
  background: rgb(255, 255, 255);
}
.development-desc {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.development-part-one {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 50px;
}
.development-title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}
.development-part-one-desc {
  margin-top: 20px;
  margin-bottom: 20px;
}
.development-part-one button,
.development-part-two button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.8;
  margin-top: 20px;
}
.development-part-two {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 50px;
}
.development-part-two-desc {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* inspiration section */
.inspiration {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
}

.inspiration-text {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
}
.inspiration-desc {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inspiration-video {
  width: 80%;
  margin: 0 auto;
}
.inspiration-video iframe {
  width: 100%;
  height: 550px;
}

/* target section */
.current-target {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;
}
.current-target-desc {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.raw-skills {
  display: flex;
  justify-content: space-evenly;
}
.html-content {
  border-radius: 5px;
  background: rgba(255, 76, 30, 0.05);
  padding: 60px 20px;
}
.css-content {
  border-radius: 5px;
  background-color: rgba(0, 76, 232, 0.05);
  padding: 60px 20px;
}
.js-content {
  border-radius: 5px;
  background-color: rgba(255, 223, 0, 0.05);
  padding: 60px 20px;
}
.html-content a,
.css-content a,
.js-content a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}
.html-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
  color: rgb(13, 19, 33);
}
.html-desc {
  margin-bottom: 10px;
}

/* support section */
.support {
  background-image: linear-gradient(
      100deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  height: 310px;
  padding: 50px;
}
.support-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: white;
}
.support-desc {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
.support-form {
  text-align: center;
  margin-top: 30px;
}
.support-form input {
  width: 35%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.support-form button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}

/* footer */
footer{
  background: rgba(13, 19, 33, 0.03);
}
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 20px;
  font-weight: 600;
}
.footer-link {
  display: flex;
  gap: 30px;
}
